extends ../_bootstrap

append styles
link(href='../css/blog.css', rel='stylesheet')
block body
  .blog-masthead
    .container
      h1.blog-title #{title}            #[a.btn.btn-lg.btn-primary(href="/users") Home]
      nav.row
        form#formAddUser(name="adduser  ",method="post",action="/users")
        div.form-group
           label Name of the NGO :
           input.form-control#inputNameOfNgo(type="text", placeholder="ex. Ujjwala", name="nameOfNgo")
        div.form-group
           label Name of Inmate :
           input.form-control#inputName(type="text", placeholder="ex. John Smith", name="name")
        div.form-group
           label Cast :
           input.form-control#inputCast(type="text", placeholder="ex. Kamma", name="cast")
        div.form-group
            label Addmission Number:
            input.form-control#inputUser_id_number(type="number", placeholder="ex. 123456", name="user_id_number")
        div.form-group
            label Date of Addmission:
            input.form-control#inputDoa(type="date",name="doa")
        div.form-group
            label DOB:
            input.form-control#inputDob(type="date", name="dob")
        div.form-group
            label Gender:
            input.form-control#inputGender(type="text", placeholder="ex. male or female " name ="gender")
        div.form-group
            label Marital Status:
            input.form-control#inputMaritalStatus(type="text", placeholder="ex. married or unmarried " name ="maritalStatus")
        div.form-group
            label Address :
            input.form-control#inputAddress(type="text",  name="address")
        div.form-group
            label Refered By Name:
            input.form-control#inputReferedByName(type="text", name="referedByName")
        div.form-group
            label C/O :
            input.form-control#inputCareOf(type="text", name ="careOf")
        div.form-group
            label Number of Childrens:
            input.form-control#inputNumberOfChildrens(type="number",  name ="numberOfChildrens")
        div.form-group
            label Name of Childrens:
            input.form-control#inputNameOfChildrens(type="text",name ="nameOfChildrens")
        div.form-group
            label Victims conditon:
            input.form-control#inputVictimsConditon(type="text",  name ="victimsConditon")
        div.form-group
            label Belongings :
            input.form-control#inputBelongings(type="text",  name ="belongings")
        div.form-group
            label Kit Provided :
            input.form-control#inputKitProvided(type="text", name ="kitProvided")
        div.form-group
            label Rehabitation Details :
            input.form-control#inputRehabitationDetails(type="text",  name ="rehabitationDetails")
        div.form-group
            label Date of Discharge :
            input.form-control#inputDateOfDischarge(type="date",  name ="dateOfDischarge")
        div.form-group
            label Handover to person name:
            input.form-control#inputHandoverToPersonName(type="text",  name ="handoverToPersonName")
        div.form-group
            label Handover to person photo :
            input.form-control#inputGender(type="text",  name ="handoverToPersonPhoto")
        div.form-group
            label Remarks:
            input.form-control#Remarks(type="text",  name ="remarks")
        div.form-group
            label Signatur Of Victiom:
            input.form-control#inputSov(type="text", name ="sov")
        div.form-group
            label Polise FIR:
            input.form-control#inputPoliseFIR(type="text", name ="poliseFIR")

        div.form-group
            button.btn.btn-primary#btnSubmit(type="submit") submit
